<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>		
		<add key="CalendarProvider" value="" />
		<add key="ExchangeEmail" value="" />
		<add key="ExchangePassword" value="" />
		<add key="Domain" value="" />
		
		<add key="ClientID" value="" />
		<add key="ClientSecret" value="" />
		<add key="Api" value="" />
		<add key="CalendarId" value="" />
		<add key="FeedUrl" value="" />
 	</appSettings>
</configuration>