<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GoogleCalendarSync.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<GoogleCalendarSync.Settings>
			<setting name="Api" serializeAs="String">
				<value/>
			</setting>
			<setting name="CalendarId" serializeAs="String">
				<value/>
			</setting>
			<setting name="CalendarProvide" serializeAs="String">
				<value/>
			</setting>
			<setting name="ClientID" serializeAs="String">
				<value/>
			</setting>
			<setting name="ClientSecret" serializeAs="String">
				<value/>
			</setting>
			<setting name="Domain" serializeAs="String">
				<value/>
			</setting>
			<setting name="ExchangeEmail" serializeAs="String">
				<value/>
			</setting>
			<setting name="ExchangePassword" serializeAs="String">
				<value/>
			</setting>
			<setting name="FeedUrl" serializeAs="String">
				<value/>
			</setting>
		</GoogleCalendarSync.Settings>
	</userSettings>
	<appSettings>
		<add key="CalendarProvider" value="EWS" />
	</appSettings>
</configuration>
