<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GoogleCalendarSync.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<GoogleCalendarSync.Settings>
			<setting name="Api" serializeAs="String">
				<value>AIzaSyD-6jwNE-10edM6DhP9YyhPZN_UrcseB7k</value>
			</setting>
			<setting name="CalendarId" serializeAs="String">
				<value>yancyn@gmail.com</value>
			</setting>
			<setting name="CalendarProvide" serializeAs="String">
				<value>EWS</value>
			</setting>
			<setting name="ClientID" serializeAs="String">
				<value>854984309587.apps.googleusercontent.com</value>
			</setting>
			<setting name="ClientSecret" serializeAs="String">
				<value>WyAw6RzWQvDqk8fXZMjjCsNu</value>
			</setting>
			<setting name="Domain" serializeAs="String">
				<value>ap</value>
			</setting>
			<setting name="ExchangeEmail" serializeAs="String">
				<value>yeang-shing.then@plexus.com</value>
			</setting>
			<setting name="ExchangePassword" serializeAs="String">
				<value>Q1,w2e3r4</value>
			</setting>
			<setting name="FeedUrl" serializeAs="String">
				<value>https://www.google.com/calendar/feeds/yancyn%40gmail.com/private-a64035cf96c74f70d3f5c8787a5e500e/full</value>
			</setting>
		</GoogleCalendarSync.Settings>
	</userSettings>
	<appSettings>
		<add key="CalendarProvider" value="EWS" />
	</appSettings>
</configuration>
